<%= form_with  model: employee do |form| %>
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <%= form.label :First_Name, class:"mb-2"%>
                <%= form.text_field  :f_name, class:"form-control form-control-lg rounded-0"%>                
                <% @employee.errors.full_messages_for(:f_name).each do |message| %> 
                    <p class="text-danger"><%= message%> </p>
                <%end%>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <%= form.label :Last_Name, class:"mb-2"%>
                <%= form.text_field  :l_name, class:"form-control form-control-lg rounded-0"%>                
                <% @employee.errors.full_messages_for(:l_name).each do |message| %> 
                    <p class="text-danger"><%= message%> </p>
                <%end%>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4">
            <div class="form-group">
                <%= form.label :email, class:"mb-2"%>
                <%= form.email_field  :email, class:"form-control form-control-lg rounded-0"%>                
                <% @employee.errors.full_messages_for(:email).each do |message| %> 
                    <p class="text-danger"><%= message%> </p>
                <%end%>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <%= form.label :age, class:"mb-2"%>
                <%= form.text_field  :age, class:"form-control form-control-lg rounded-0"%>                
                <% @employee.errors.full_messages_for(:age).each do |message| %> 
                    <p class="text-danger"><%= message%> </p>
                <%end%>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <%= form.label :contact, class:"mb-2"%>
                <%= form.text_field  :contact, class:"form-control form-control-lg rounded-0"%>                
                <% @employee.errors.full_messages_for(:contact).each do |message| %> 
                    <p class="text-danger"><%= message%> </p>
                <%end%>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <%= form.label :city, class:"mb-2"%>
                <%= form.text_field  :city, class:"form-control form-control-lg rounded-0"%>                
                <% @employee.errors.full_messages_for(:city).each do |message| %> 
                    <p class="text-danger"><%= message%> </p>
                <%end%>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <%= form.label :country, class:"mb-2"%>
                <%= form.text_field  :country, class:"form-control form-control-lg rounded-0"%>                
                <% @employee.errors.full_messages_for(:country).each do |message| %> 
                    <p class="text-danger"><%= message%> </p>
                <%end%>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <%= form.label :employee_title, class:"mb-2"%>
                <%= form.text_field  :employee_title, class:"form-control form-control-lg rounded-0"%>                
                <% @employee.errors.full_messages_for(:employee_title).each do |message| %> 
                    <p class="text-danger"><%= message%> </p>
                <%end%>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <%= form.label :dob, class:"mb-2"%>
                <%= form.date_field  :dob, class:"form-control form-control-lg rounded-0"%>                
                <% @employee.errors.full_messages_for(:dob).each do |message| %> 
                    <p class="text-danger"><%= message%> </p>
                <%end%>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <%= form.label :address, class:"mb-2"%>
                <%= form.text_field  :address, class:"form-control form-control-lg rounded-0"%>                
                <% @employee.errors.full_messages_for(:address).each do |message| %> 
                    <p class="text-danger"><%= message%> </p>
                <%end%>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <%= form.submit class:"btn btn-primary btn-lg rounded-0 my-2" %>
            <%= link_to 'Back To Employees', employees_path,  class:"btn btn-outline-primary btn-lg rounded-0 my-2" %>

        </div>
        
    </div>
    
<%end%>

