<div class="col-lg-12">
    <div class="card my-5 rounded-0">
        <div class="card-body">
            <h1 class="text-center">Employee Information</h1>
            <div class="row">

                <div class="col-lg-6">
                    <h2> Personal Information</h2>
                    <p><strong>First Name: </strong><%= @employee.f_name %></p>
                    <p><strong>Last Name: </strong><%= @employee.l_name %></p>
                    <p><strong> Email: </strong><%= @employee.email  %></p>
                    <p><strong>Age: </strong><%= @employee.age %></p>



                </div>
                <div class="col-lg-6">
                    <h2> Address Information</h2>
                    <p><strong>City: </strong><%= @employee.city %></p>
                    <p><strong>Contact: </strong><%= @employee.contact  %></p>
                    <p><strong>Country: </strong><%= @employee.country  %></p>
                    <p><strong>Address: </strong><%= @employee.address  %></p>


                </div>
            </div>

            <% if @employee.documents.present? %>
                <h1 class="text-center">Documents Information</h1>
                <% @employee.documents.each do |document|%>
                <div class="card my-2">
                        <div class="card-body">

                            <div class="row">
                                
                                <div class="col-lg-4">
                                    <%= document.name %>

                                </div>
                                <div class="col-lg-4">
                                <%= document.doc_type %>

                                </div>
                                <% if document.image.attached?%>

                                    <div class="col-lg-4">
                                        <%= image_tag document.image   %>
                                    </div>
                                <% end %>

                            </div >
                        </div>
                </div>    
                <%end%>
            <%end%>
        </div>
    </div>

    <%= link_to 'Edit Employees', edit_employee_path(@employee), class:'btn btn-primary btn-lg rounded-0' %>
    <%= link_to 'Back to  Employees', employees_path, class:'btn btn-outline-primary btn-lg rounded-0' %>
    

</div>